server {
  listen 80;
  server_name bisno.ao www.bisno.ao;
  return 301 https://$host$request_uri;
}

server {
  listen 443 ssl;
  http2 on;
  server_name bisno.ao www.bisno.ao;

  ssl_certificate /etc/letsencrypt/live/bisno.ao/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/bisno.ao/privkey.pem;

  set $api_upstream http://api:3333;
  set $client_upstream http://client:3000;

  location ~ ^/(api|upload) {
    limit_req zone=api burst=100 nodelay;
    limit_conn conn_limit 50;
    client_max_body_size 50m;
    proxy_buffer_size 512k;
    proxy_buffers 16 512k;
    proxy_busy_buffers_size 1m;
    proxy_max_temp_file_size 0;
    resolver 127.0.0.11 valid=30s;
    proxy_pass $api_upstream;
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection 'upgrade';
    proxy_set_header Host $host;
    proxy_cache_bypass $http_upgrade;
  }

  location / {
    limit_req zone=client burst=600 delay=400;
    limit_conn conn_limit 80;
    resolver 127.0.0.11 valid=30s;
    proxy_pass $client_upstream;
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection 'upgrade';
    proxy_set_header Host $host;
    proxy_cache_bypass $http_upgrade;
  }

  location ~ /\. {
    deny all;
  }
}
